@use '../partials_scss/variables' as *;


#app_footer {
    background-color: $dark;

    .col {

        p {
            color: $light;
        }

        h3 {
            color: $primary;
            font-size: 1.5rem;
        }

        a {
            color: $secondary;
            text-decoration: none;
            font-size: 0.8rem;
        }
    }
}